@import url("bootstrap.min.css");
@import url("bootstrap-responsive.min.css");
@import url("font-awesome.min.css");

.body-topNav
{
    padding-top: 60px;
}

body
{
    background-color: rgb(229, 229, 229);
    background-image: url("../images/noise_bg.png"),linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
}
.gridhight
{
    height: 400px;
    overflow: auto;
}
.gridhight-noscroll
{
    height: 412px;
    overflow: auto;
}
.leftm
{
    margin-left: 7px;
    float: left;
}

.form-signin
{
    max-width: 320px;
    padding: 19px 29px 29px;
    margin: 20px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin3
{
    padding: 15px 5px 5px 15px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin2
{
    padding: 29px 29px 29px;
    margin: 20px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin input[type="text"], .form-signin input[type="password"]
{
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.aligncenter
{
    vertical-align: middle;
    text-align: center;
}

.form-signin4
{
    padding: 5px;
    margin: 0px;
    background-color: #B0B0B0;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.spacer
{
    margin-top: 50px;
}
.spacer-less
{
    padding-bottom: 5px;
    padding-top: 5px;
}
.mgrid
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: 1px solid #ffffff;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
.mgrid table
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.mgrid tr:last-child td:last-child
{
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.mgrid table tr:first-child td:first-child
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

.mgrid table tr:first-child td:last-child
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
.mgrid tr:last-child td:first-child
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.mgrid tr:hover td
{
    background-color: #aaffff;
}

.mgrid td
{
    vertical-align: middle;
    background-color: #e5e5e5;
    border: 1px solid #ffffff;
    border-width: 0px 1px 1px 0px;
    text-align: center;
    padding: 4px;
    font-size: 10px;
    font-family: Helvetica;
    font-weight: bold;
    color: #000000;
}
.mgrid tr:last-child td
{
    border-width: 0px 1px 0px 0px;
}
.mgrid tr td:last-child
{
    border-width: 0px 0px 1px 0px;
}
.mgrid tr:last-child td:last-child
{
    border-width: 0px 0px 0px 0px;
}

.mgrid tr:first-child td
{
    background: -o-linear-gradient(bottom, #56aaff 5%, #56aaff 100%);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #56aaff) );
    background: -moz-linear-gradient( center top, #56aaff 5%, #56aaff 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#56aaff");
    background: -o-linear-gradient(top,#56aaff,56aaff);
    background-color: #56aaff;
    border: 0px solid #ffffff;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 13px;
    font-family: Helvetica;
    font-weight: bold;
    color: #ffffff;
}

.mgrid tr:first-child:hover td
{
    background: -o-linear-gradient(bottom, #56aaff 5%, #56aaff 100%);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #56aaff) );
    background: -moz-linear-gradient( center top, #56aaff 5%, #56aaff 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#56aaff");
    background: -o-linear-gradient(top,#56aaff,56aaff);
    background-color: #56aaff;
}

.mgrid tr:first-child td:first-child
{
    border-width: 0px 0px 1px 0px;
}

.mgrid tr:first-child td:last-child
{
    border-width: 0px 0px 1px 1px;
}
.mgrid th
{
    background: -o-linear-gradient(bottom, #56aaff 5%, #56aaff 100%);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #56aaff) );
    background: -moz-linear-gradient( center top, #56aaff 5%, #56aaff 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#56aaff");
    background: -o-linear-gradient(top,#56aaff,56aaff);
    background-color: #56aaff;
    border: 0px solid #ffffff;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 13px;
    font-family: Helvetica;
    font-weight: bold;
    color: #ffffff;
}

.well-small
{
    padding: 6px;
}
.bottom-margin-small
{
    margin-bottom: 2px;
}

.no-bottom-margin
{
    margin-bottom: 0px;
}
.navtext-white
{
    color: White;
}

.hometabs
{
    padding: 5px;
}
.space20px
{
    padding-bottom: 20px;
    padding-right: 10px;
}
.spaceless
{
    padding-bottom: 10px;
    padding-right: 10px;
}
hr
{
    margin: 8px;
}
.rightborder
{
    border-right-color: #999;
    border-right-style: dashed;
    border-right-width: thin;
}
.bottomborder
{
    border-bottom-color: #999;
    border-bottom-style: dashed;
    border-bottom-width: thin;
}
.whitebox
{
    padding: 15px 15px 15px 15px;
    margin: 0px 15px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.05);
    box-shadow: 0 1px 3px rgba(0,0,0,.05);
}

.borderwell
{
    padding: 2px;
    margin: 2px;
    border: 1px solid black;
}

input[type="radio"], input[type="checkbox"]
{
    cursor: pointer;
    line-height: normal;
    margin: -6px 0 0;
}