<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="adminEmail" value="karamchandsharma@gmail.com" />
    <add key="AppTitle" value="Quick Drycleaning Software" />
    <add key="TimesSMSUserId" value="puneet.kapoor" />
    <add key="TimesSMSUserPassword" value="38323760" />
    <add key="TimesSMSGSMSenderId" value="Demo" />
    <add key="aspnet:MaxHttpCollectionKeys" value="100000" />
    <add key="XmlFilePath" value="App_Code/1lineitem.xml" />
    <add key="itemImageFolder" value="D:\Aashish\dc\DrySoft\repo\QuickWeb\images\items\" />
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"></jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=192.168.1.101;Initial Catalog=drysoft1; User Id=sa; pwd=start;packet size=4096;persist security info=True;Max Pool Size=1000;Connection Lifetime=5" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionString" connectionString="Data Source=RAHUL;Initial Catalog=DRYSOFTBranch; User Id=sa; pwd=start;packet size=4096;persist security info=True;Max Pool Size=1000;Connection Lifetime=5" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--<add name="ConnectionString" connectionString="Data Source=192.168.1.28;Initial Catalog=master;database=NEW;User ID=sa;Password=start" providerName="System.Data.SqlClient" />-->
  <!--<add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\RoxyDryCleanDatabase.mdf;Integrated Security=True;User Instance=True"
   providerName="System.Data.SqlClient" />-->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="deecoup.2011@gmail.com">
        <network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="deecoup.2011@gmail.com" password="deecoup@12345" />
      </smtp>
    </mailSettings>
    <defaultProxy>
      <proxy bypassonlocal="False" usesystemdefault="False" />
    </defaultProxy>
    <connectionManagement>
      <add address="*" maxconnection="20" />
    </connectionManagement>
  </system.net>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <machineKey validationKey='0563562B504CE99D18F95D78267A3501A73ABFA25DA1E005AEDA794F4946E388BF578945C4240FD3B55398429990E34E4EE15BAAB081B203728B9BBAC03458E7' decryptionKey='2F14905CF2D6E7C14E318DEAAEEF5A6151E54010FFC9E07B' validation='SHA1'/>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <httpRuntime executionTimeout="300" maxRequestLength="2000000" requestValidationMode="2.0" />
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="UseCookies" timeout="60"/>
    <identity impersonate="false" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <!-- 
        <add assembly="Microsoft.SqlServer.Smo, Version=9.0.242.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.SqlServer.ConnectionInfo, Version=9.0.242.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        -->
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" name=".myUniqueAuth" defaultUrl="~/Masters/Default.aspx" timeout="70" cookieless="UseCookies" protection="All" slidingExpiration="false">
      </forms>
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
<customErrors mode="On">
        </customErrors>
        -->
    <customErrors mode="RemoteOnly">
    </customErrors>
    <pages theme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="OutputCache" type="System.Web.Caching.OutputCacheModule" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
      <add name="WindowsAuthentication" type="System.Web.Security.WindowsAuthenticationModule" />
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" />
      <add name="PassportAuthentication" type="System.Web.Security.PassportAuthenticationModule" />
      <add name="RoleManager" type="System.Web.Security.RoleManagerModule" />
      <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" />
      <add name="AnonymousIdentification" type="System.Web.Security.AnonymousIdentificationModule" />
      <add name="Profile" type="System.Web.Profile.ProfileModule" />
    </httpModules>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="QuickWeb.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="QuickWeb.Service1">
        <endpoint address="" behaviorConfiguration="QuickWeb.Service1AspNetAjaxBehavior"
          binding="webHttpBinding" contract="QuickWeb.Service1" />
      </service>
    </services>
  </system.serviceModel>
</configuration>