<?xml version="1.0"?>
<configuration>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "D:\log\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
  <appSettings>
    <add key="processImagePath" value="/Process/" />
    <add key="itemImagePath" value="/Items/" />
    <add key="categoryImagePath" value="/Categories/" />
    <add key="colorImagePath" value="/colors/" />
    <add key="patternImagePath" value="/Patterns/" />
    <add key="loadtemplates" value="false" />
    <add key="colorsFilePath" value="D:\Aashish\dc\DrySoft\Discount\code\promos\images\colors" />
    <add key="sep1" value="~" />
    <add key="sep2" value="," />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=192.168.1.101; User ID=sa; Password=start; Database=drysoftbranch;" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="JQueryEnabled">
          <security mode="None"></security>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="appServices.PromoSchemeService">
        <!--<endpoint address="http://localhost/svnappServices/PromoSchemeService.svc"-->
        <endpoint address="http://localhost/svnappServices/PromoSchemeService.svc"
                  binding="wsHttpBinding" bindingConfiguration="JQueryEnabled" contract="appServices.IPromoSchemeService">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>